@font-face {
    font-family: 'MighaMedium';
    src: local('MighaMedium'), url('../assets/fonts/Migha-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-container{
    width: 40%;
    margin: 1em 1em 1em 5em;
    border: 1px whitesmoke solid;
    padding: 0 0.7em;
    box-sizing: border-box;
    box-shadow: 0 0 5px 8px rgba(255, 255, 255, 0.219);
}
.img-container{
    display: flex;            
    align-items: center;      
    justify-content: center; 
    
    width: 40%;
    min-width: 30%;
    margin: 1em 5em 1em 1em;
    padding: 0 0.7em;
}

.about-container h2{
    text-align: center;
    font-family: 'MighaMedium', sans-serif;
    text-transform: uppercase;
    font-size: 1.7em;
    margin: 0.5em auto;
}

.about-container p{
    margin: 0 1em 1em;
    text-align: center;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    border: solid 1px whitesmoke;
    box-shadow: 0 0 5px 8px rgba(255, 255, 255, 0.219);
}

@media screen and (max-width: 980px) {
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about-container, .img-container {
      width: 90%;
      margin: 1em;
    }
}