@font-face {
    font-family: 'CCAfterglow';
    src: local('CCAfterglow'), url('../assets/fonts/CCAfterglow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MighaLight';
    src: local('MighaLight'), url('../assets/fonts/Migha-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MighaMedium';
    src: local('MighaMedium'), url('../assets/fonts/Migha-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.header {
    text-align: center;
    color: white;
    border-bottom: 1px solid whitesmoke;
}
.header .logo{
    font-size: 4.5em;
    font-family: 'CCAfterglow', sans-serif;
    text-shadow: 2px 2px 10px black;
    display: block;
    padding-top: 0.25em;
}
.header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    margin: 0.5em 0;
}
.header li{
    font-size: 1.2em;
    font-family: 'MighaLight', sans-serif;
    text-shadow: 2px 2px 5px black;
    margin-right: 0.5em;
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.16em;
}
.header li a {
    text-decoration: none;
    color: inherit;
    transition: all 0.7s ease;
}
.header li a:hover{
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.29);
    font-weight: bold;
    padding: 0.3em;
}
.header li a:visited {
    color: inherit;
}